body {
  background-color: beige;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 50px;
}

h3 {
  font-size: 2em;
  text-align: center;
}

section {
  width: 960px;
  margin: auto;
  border: 5px solid black;
  margin-top: 15px;
}

main {
  padding-bottom: 25px;
}

img {
  width: 300px;
  height: 300px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

#button {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  border: none;
  background-color: salmon;
  width: 300px;
  margin: auto;
  margin-top: 15px;
}

#hidden-results {
  display: none;
}

canvas {
  width: 960px;
  height: 400px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}